{include file="public/header" /}
<div class="page-container">
    <form class="form form-horizontal" id="form-article-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品图片：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="file" class="input-text" name="file" id="file_upload">
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button onClick="article_save_submit();" class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 确定</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
<script>
//    var SCOPE = {
//        'uploadify_swf': '__STATIC__/admin/uploadify/uploadify.swf',
//        'image_upload': "{:url('admin/image/upload')}"
//    };
</script>
{include file="public/footer" /}